<<<<<<< HEAD
.kunas {
    padding: 0;
    margin: 0;
}

.kuntikas1 {
    padding: 0;
    margin: 0px 50px 50px 50px;
}

.eile {
    justify-content: center;
    margin: 0;
}

header.eile {
    width: 100%;
    
    
    
}

nav {
    width: 100%;
    justify-content: center;
    margin-bottom: 50px;
}
.nav-link {
    margin-left:100px;
    margin-right:100px;
    
}

    


.eile h2 {
    margin-bottom: 20px;
}


/*KITAS KONTEINERIS container-fluid kuntikas 2-----------------------------*/

.kuntikas2 {
    height: 300px;
    justify-content: center;
}

.kuntikas2.eile {
    height: 100%;
    justify-content: center;
}

.container-fluid div.col-12 {
    background-image: url(../Remigijus-Julius/img/oldpaper.jpg);
    height:300px;
    
    
}

div.col-12 button{

/*
    margin-left: 487px;
    margin-right:487px;
    margin-top: 135px;
    margin-bottom:135px;
*/
    transform:translate(-50%, -50%);
    position:absolute;
    top:50%;
    left:50%;

   
}
/* KITAS KONTEINERIS footer -----------*/
footer.container {
    height:500px;
    width:80%;
    margin-left: 10%;
    
    justify-content: center;
    display:inline-block;
}
footer.eile.col-12 {
    height:30%;
    width:30%;
    
    
    
}
footer p.left{
    margin-right:70%;
    margin-top :20px;
    height:auto;
    display: inline-block;
    
}
footer p.center{
    margin-left:35%;
    margin-right: 35%;
    
}
footer p.right {
    margin-left:70%;
    padding-right:40px;
}
=======
.sz-50 {
  height: 50%;
  width: 50%;
}

.sz-100 {
  width: 100%;
}

.cl-reklama {
  background-color: #DEB887;
}

.cl-red {
  background-color: red;
>>>>>>> 0f2a3e9d6fd773d4a8fbc5b50395b981db66a6df
}

.cl-green {
  background-color: green;
}
.cl-bluee {
  background-color: blue;
}

.cl-black {
  background-color: #000;
}
