h2, .antraste {
  color: #666;
  font-weight: 300;
  font-family:sans-serif;
}
.tekstas {
  color:#444;
  text-align: justify;
  max-width: 400px;
}
.nuoroda img {
  width:1263px;
  height:400px;
  object-fit: cover;
}
.paverstas {
  font-style:italic;
}
