* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h2, .antraste {
  color: #666;
  font-weight: 300;
  font-family:sans-serif;
}
.tekstas {
  color:#444;
  text-align: justify;
  max-width: 400px;
}
.nuoroda img {
  width:1263px;
  height:300px;
  object-fit: cover;
  transform:0;
  transition: all ease 0.5s;
}
.nuoroda img:hover {
  transform: scale(1.0) scaleZ(1.0) rotateX(33deg) rotateY(33deg) skewY(8deg);
}
.paverstas {
  font-style:italic;
}
section p {
    font-family: monospace;
}
.main-navigation {
  position: relative;
  top: 20px;
  width: 100%;
  height: 60px;
}
.main-navigation li {
  display: inline;
}
.main-navigation a {
  padding: 20px 20px;
  background: rgba(1,1,1,1);
  color: #eee;
  text-decoration:none;
  transition: all 0.3s ease-in-out;
  border-radius: 0;
}
.main-navigation a:hover {
  border-radius: 0 50px 0 50px;
  background: rgba(219, 0, 0, 0.85);
  color: #fff;
}
/* naujas */
.musuMenu {
  width: 100%;
  margin: auto;
  display: block;
}

.vistiena, .jautiena, .vegetariskas {
  width:32%;
  display: inline-block;
  padding: 1%;
  border: 1px solid #444;
}
#musu-menu {
  text-align: center;
  padding: 50px;
}
p {
  text-align: justify;
}
.clearfix {
  clear: both;
}
.musuMenu h2 {
  text-align: center;
  padding:20px;
  color: #fff;
  position: absolute;
  right: 0px;
  top: 0px;

}
.vistiena h2 {
  background: #444;
}
.jautiena h2 {
  background: #b2b2b2;
}
.vegetariskas h2 {
  background: red;
}
.musuMenu {
  position: relative;
}
.musuMenu p {
  margin-top:80px;
}
