body {
  margin-left: 200px;
  margin-right: 200px;
  background-color: gray;
}

h1, h2, h3 {
  text-align: center;
}

header {
  width: 100%;
  background-color: pink;
  text-align: justify;
}

.headitem {
  display: inline-block;
  border: none;
  background-color: pink;
  padding: 20px;
}

.search {}

aside {
    float: right;
    width: 15%;
    background-color: pink;
    margin-top: 5px;
    padding: 10px;
    ul li a {
        float: left;
    }
}

article {
    height: auto;
    width: 65%;
    background-color: white;
    padding-right: 150px;
}

footer {
    padding: 10px;
    vertical-align: middle;
    background-color: white;
    margin-top: 10px;
    width: auto;
    position: sticky;
    bottom: -5px;
}
