body {
  margin: auto 200px;
  background-color: gray;
}

h1, h2, h3 {
  text-align: center;
}

header {
  width: 100%;
  background-color: pink;
  text-align: justify;
}

header button {
    width: 17%;
}

form {
    display: inline-block;
}

.submit {
    color: white;
    background-color: rgb(22, 29, 34);
    border: none;
    display: inline;
    width: 50px;
    height: 21px;
}

.headitem {
  border: none;
  background-color: pink;
  padding: 15px;
}

.search {}

aside {
    float: right;
    width: 15%;
    background-color: pink;
    margin-top: 5px;
    padding: 10px;
    ul li a {
        float: left;
    }
}

article {
    height: auto;
    width: 65%;
    background-color: white;
    margin-right: 20%;
    margin: 0;
}

footer {
    padding: 10px;
    vertical-align: middle;
    background-color: white;
    margin-top: 10px;
    width: auto;
    position: sticky;
    bottom: -5px;
}
