body {
    margin: 0;
    padding: 0;
}

h1 {
    color: red;
    text-align: center;
}

p {
    margin-top: 30px;
}
.product {
    background-color: #b2b2b2;
    border: solid 1px black;

    /* elementus darome vienoje eiluteje */
    float: left;
    width: 30%;
    /* baigus naudoti float - uzdeti clear: both; */

    position: relative;
    margin-right: 2.3%;
}
.product:first-of-type {
    margin-left: 2.5%;
}
.clear {
    clear: both;
}
.firstMenu h3 {
    background-color: #28ebe6;
    width: 100px;
}
.secondMenu h3 {
    background-color: #fc703d;
    width: 100px;
}
.thirdMenu h3 {
     background-color: #1cd59f;
     width: 100px;

}

/* elementu pozicijos keitimas i ekrano desine  */
h3 {
    position: absolute;
    right: 0px;
    top: 0px;
    margin-top: 0;
    text-align: center;
}
<<<<<<< HEAD
=======
/* Tablet */
@media (max-width: 768px) {
    .thirdMenu {
        width: 96%;
        margin-top: 20px;
        margin-left: 2%;
        margin-right: 2%;
    }
     .firstMenu:first-of-type {
        width: 47%;
        margin-left: 2%;
         margin-right: 2%;
    }
    .secondMenu {
       width: 47%;
       margin-right: 2%;
    }
}

/* Mobile 425px */
@media (max-width: 425px) {
    .firstMenu:first-of-type, .secondMenu  {
       width: 96%;
       margin-left: 2%;
        margin-right: 2%;
    }
    .secondMenu {
        margin-top: 2%;
        color: #de1f55;
        font-family: sans-serif verdon, geronge;
        font-size: 30px;
        width: 100%;
        height: 547px;
        margin-right: 30px;
    }

} /* end @media */







    /**/
>>>>>>> 38b600d127cd416a68e5ce2323ec415918a45b47
