* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
}

/*  ------------------- */

h1 {
    color: blue;
}
.container {
    background-color: #ffee79;
}
.elementas {
    background-color: #b2b2b2;
    border: 1px solid red;
    /*margin: 5px:*/
    height: 400px;
}
