* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    height: 100%;
}
/* -------------*/
h1 {
color: blue;
}



.fonas-yellow {
    background-color: #f4d42f;
}
.fonas-green {
    background-color: #71eb37;
}
.aukstis100 {
    height: 100px;
}
.aukstis300 {
    min-height: 300px;
}

ul li {
    display: inline-block;
    padding: 20px 30px;
    width: 20%;
    font-size: 28px;
    font-weight: 200;
    text-transform: capitalize;
    text-align: center;
}
ul li:hover {
    background-color: #b2b2b2;
    color: #fff;
}

.logo {
    background-image: url('./logo.jpg');
    width: 100px;
    height: auto;
    display: block;
}
/*  retinos ekranams */
 @media (-webkit-min-device-pixel-ratio: 2),  (min-resolution: 192dpi) {
     .logo {
         background-image: url('./logo-x3.jpg');
     }
}


/* */
