* {
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 1040px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(214, 214, 214);
}

#title {
    color: red;
}
/* ---------------------------------------- */
/* ---------- VIRSUS ---------------------- */
/*.row {
    height: 100px;
    background-color: rgb(121, 150, 157);
    width: 700px;
    float: left;
}*/
nav {
    border: 1px solid black;
    width: 70%;
    float: left;
}

#search {
    border: 1px solid black;
    width: 30%;
    float: right;
}
.clear {
  clear: both;
}
h1 {
    text-align: center;
}
header li {
    display: inline-block;
}
/* --------------END VIRSUS --------------- */
/* --------------VIDUS--------------------- */
#wrapper {
    border: 1px solid black;
}
section {
    float: left;
    width: 79%;
    background-color: #fff;
    margin-top: 1%;
    margin-right: 1%;
}
aside {
    float: right;
    width: 20%;
    background-color: rgb(201, 146, 201);
    margin-top: 1%;
}
.clear {
    clear: both;
}
/* --------------END VIDUS --------------- */
/* --------------APACIA ------------------ */
footer {
    height: 100px;
    background-color: #fff;
    margin-top: 1%;
}
/* --------------END APACIA -------------- */
