* {
    box-sizing: border-box;
}

.box {
    /* position relative absolute elementui */
    position: relative;
    display: inline-block;
    float: left;
    word-wrap: normal;
    width: 30%;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    margin: 2% 1%;
    background-color: gray;
    min-width: 300px;
}

p {
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
    min-width: 250px;
    word-wrap: normal;
}

h1 {
    text-align: center;
}

span {
    /* absolute elementai turi tureti relative teva*/
    position: absolute;
    right: 0px;
    border-width: 3px;
    border-left-style: solid;
    border-bottom-style: solid;
    border-color: black;
    padding: 3px;
    font-weight: bold;
    width: 25%;
    text-align: center;
}

.one {
    background-color: pink;
}

.two {
    background-color: red;
    color: white;
}

.three {
    background-color: yellow;
}

@media (max-width: 768px) {
    .vienas, .du {
        min-width: 46%;
    }
    .trys {
        width: 94%;
    }
}

@media (max-width: 425px) {
    .box {
        width: 94%;
    }
}

@media (max-width: 320px) {
    .trys {
        min-width: 46%;
    }
}


/*end media*/
