* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
}

/* ---------- */
h2 {
    color: black;
}

.fonas-green {
    background-color: #9BCE0B;
}
.fonas-pink {
    background-color: #F7F5D8;
}
.fonas-white {
    background-color: #fff;
}
.aukstis100 {
    /*height: 100px;*/
    min-height: 100px;
}
.aukstis300 {
    /*height: 300px;*/
    min-height: 300px;
}
.aukstis500 {
    /*height: 5000px;*/
    min-height: 500px;
}
