* {
  box-sizing: border-box;
}

body {
  background: url("../../../uzduotys-toliau/2-sunkesne/assets/background.jpg") no-repeat center right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  background-size: auto 100%;
  /*width: 100vh;
    max-height: 100%;*/
}

.container-fluid {
  margin-top: 60px;
  margin-left: 60px;
  width: 100%;
}

.submit {
  background: none;
  border: solid;
  padding: 15px 80px;
  font-size: 12px;
  font-weight: bold;
}

h2 {
  font-size: 34px;
}

.toptxt {
  width: 65%;
}

p {
  font-weight: bold;
  font-size: 14px;
}

.field {
  border: none;
}


input {
  display: block;
  font-size: 10px;
  padding-bottom: 10px;
}

.login {
  margin-left: 17px;
}

img {
  max-width: 30%;
}

.textfield {
  width: 100%;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: black;
}

.row {
  width: 60%;
  margin-left: 0px;
}

::placeholder {
  color: black;
}
