* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}
/*--------------*/

img {
    max-width: 100px;
    max-height: 100px;
}
