html, body {
  height:100%;
  padding:0;
}

h1 {
    color: orange;
}
.bg-grey {
  background-color:#eee;
}
.bg-yellow {
  background-color:yellow;
}
.bg-wh {
  background-color:white;
}
.h-500 {
  min-height: 500px;
}
.h200 {
  min-height: 200px;
}
.h100{
  min-height: 100px;
}
.h300 {
  min-height: 300px;
}
