/* remelius iskaiciuoja i elementu ploti !!!! */
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    width: 1040px;
    margin-left: auto;
    margin-right: auto;
}
/* -------------------------------*/
.clear {
  clear: both;
}
html {
  background-color: #b2b2b2;
}
.row {
  height: 100px;
  background-color: #FF80FF;

  border: solid #000;
}
#wrapper {
  border: 1px solid red;
}
section {
  float: left;
  width: 80%;
  background-color: #fff;
}
aside {
  border: 1px solid blue;
  background-color: #FF80FF;
  float: left;
  width: 20%;
}
footer {
background-color: #fff;
height: 100px;
}
nav {
  border: 4px solid black;
  float: left;
  width: 70%;
}
header li {
  display: inline-block;
}
#search {
  width: 30%;
  float: right;
  border: 2px solid red;
}
