* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*--------------*/

h1 {
    color: orange;
}

.fonas-green {
    background-color: #bade44;
}

.fonas-yellow {
    background-color: #fff38b;
}

.fonas-white {
    background-color: #fff;
}

.aukstis100 {
    min-height: 100px;
}
.aukstis300 {
    min-height: 300px;
}
.aukstis500 {
    min-height: 500px;
}

.overnoscroll {
    overflow: scroll;
}
.overscroll {
    overflow: auto;
}
::-webkit-scrollbar {
    /*width: 0px;
    background: transparent; /* make scrollbar transparent */
display: none;
}
