/* remelius iskaiciuoja i elementu ploti !!!! */
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    /* margin auto turi tureti nurodyta ploti */
     margin-left: auto;
     margin-right: auto;
     width: 1040px;
}ssss
.clear {
    clear: both;
    content: " "; /* Older browser do not support empty content */
}
/* -------------------------------*/
html {
    background-color: #b2b2b2;
}

h1 {
    color: red;
}
.row {
    height: 100px;
    background-color: #FF80FF;
}
#wrapper {
    border:  4px solid red;
}
section {
    float: left;
    width: 80%;
    background-color: #fff;
}
aside {
    float: left;
    width: 20%;
    border:  4px solid blue;
    background-color: #FF80FF;
}
footer {
    height: 100px;
    background-color: #fff;
}
nav {
    border:  4px solid blue;
    float: left;
    width: 70%;
}
#search {
    width: 30%;
    float: left;
    border: 4px solid orange;
}
header li {
    display: inline-block;
}
