* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  height: 100%; }

/* -------------*/
h1 {
  color: blue; }

section h3 {
  color: green;
  font-size: 29px;
  font-weight: 600; }

section p {
  font-size: 16px;
  font-weight: 600; }

aside h3 {
  color: red;
  font-size: 36px;
  font-weight: 200; }

aside p {
  font-size: 14px;
  font-weight: 500; }

a {
  font-weight: bold;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a:active {
    color: #3637d6; }
  a a h3 {
    color: blue; }

.fonas-yellow {
  background-color: #f4d42f; }

.fonas-green {
  background-color: #71eb37; }

.aukstis100 {
  height: 100px; }

.aukstis300 {
  min-height: 300px; }
