.box {
/* position relative absolute elementui */
  position: relative;
  display: inline-block;
  float: left;
  word-wrap: normal;
  width: 30%;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  margin: 10px;
  background-color: gray;
  min-width: 300px;
}

p {
  padding-top: 15px;
  padding-right: 10px;
  padding-left: 10px;
  min-width: 300px;
}

h1 {
  text-align: center;
}

span {
  /*float: right;*/
  /* absolute elementai turi tureti relative teva*/
  position: absolute;
  right: 0px;
  border-width: 3px;
  border-left-style: solid;
  border-bottom-style: solid;
  border-color: black;
  padding: 3px;
  font-weight: bold;
  width: 20%;
  text-align: center;
}

.one {
  background-color: pink;
}

.two {
  background-color: red;
  color: white;
}

.three {
  background-color: yellow;
}
