html, body {
  height:100%;
}

h1 {
    color: orange;
}
.bg-grey {
  background-color:#eee;
}
.bg-yellow {
  background-color:yellow;
}
.bg-wh {
  background-color:white;
}
.h-500 {
  min-height: 500px;
}
.h200 {
  min-height: 200px;
}
.h100 {
  min-height: 100px;
}
.h70pr {
  height:70%;
}
.h29pr {
  height: 29%;
}
.h50pr {
  height: 50%;
}
.h49pr {
  height: 49%;
}
.h100pr{
  height:100%;
}
.img-fluid.eima {
  width: 30%;
}
.eimag.img-fluid {
  height: 350px;
  object-fit:cover;
}
/*.container-fluid.eima {
  background-image: url(https://pixabay.com/get/ed37b20c21fc1c22d2524518a349409fe775e3d604b0144190f1c07fa4eab0/pet-423398_1280.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

} */
