body {
    margin: 0;
    padding: 0;
}

h1 {
    color: blue;
    text-align: center;
}

p {
    margin-top: 30px;
}

.product {
    background-color: #b2b2b2;
    border: solid 1px black;
    /* elementus darome vienoje eiluteje; flotas visada einau su plociu*/
    float: left;
    width: 30%;
    /* baigus naudoti float - uzdeti clear: both;*/
    position: relative;
    margin-right: 2.3%;
}

.product:first-of-type {
        margin-left: 2.5%;
}

.clear {
    clear: both;
}

.firstMenu h3 {
    background-color: #14e989;
    width: 100px;
}

h3 {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 0;
}

.secondMenu h3 {
    background-color: #e65629;
    width: 100px;
}

.thirdMenu h3 {
    background-color: #a027f1;
    width: 100px;
}


/* elementu pozicijos keitimas i ekrano desine */
