* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    height: 100%;
}
/* -------------*/
h1 {
color: blue;
}
.fonas-blue {
  background-color: rgb(37, 5, 237);
}
.fonas-yellow {
    background-color: #f4d42f;
}
.fonas-green {
    background-color: #71eb37;
}
.aukstis50 {
    height: 50px;
}
.aukstis300 {
    min-height: 300px;
}
<<<<<<< HEAD
.navbar {
    display: none;
  }
a {
  color:rgb(247, 7, 7) ;

<<<<<<< HEAD
=======
nav {
    transform: translate(-50%,-50%);
}
.antraste {
  text-align: center;
}
.kazkas {
  background-image: url("./LoL.jpg");
  /*background-size: cover;
  background-position: center;
  border: 1px solid black;*/
  height: 100px;
}
.paveiksliukas {
  background-image: url(LoL.jpg);
  height: 100px;
=======

>>>>>>> dcfaa9b40c9a95e4aa8d2822ff43b986d523b219
.col-6 h2 {
  text-align: center;
  color: white;
}
p {
  color: white;
}
body {
  background-color: rgb(16, 32, 88);
}
h3 {
  color: white;
}
.inline {
  inline:block;
<<<<<<< HEAD
=======
>>>>>>> 30cecdd3058bf030ccbdec3f1c31a8a104932126
>>>>>>> dcfaa9b40c9a95e4aa8d2822ff43b986d523b219
}
